<h1>frequently asked questions</h1>
<div ng-repeat="category in faq">
  <h2>{{category.category}}</h2>
  <div class="panel panel-default" ng-repeat="question in category.items">
    <div class="panel-heading" ng-click="question.show=!question.show">
      <h3 class="panel-title">{{question.question}}</h3>
    </div>
    <div class="panel-body" ng-show="question.show">
      <span ng-repeat="answer in question.answer.text" marked="answer"></span>
      <blockquote ng-if="question.answer.quote.text">
        <span ng-repeat="quote in question.answer.quote.text" marked="quote"></span>
        <footer ng-if="question.answer.quote.cite">
          <cite>
            <a ng-if="question.answer.quote.cite.url" href="{{question.answer.quote.cite.url}}">
              {{question.answer.quote.cite.text}}
            </a>
            <span ng-if="!question.answer.quote.cite.url">
              {{question.answer.quote.cite.text}}
            </span>
          </cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>

<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
  this.page.url = 'http://yogaloft.co.uk/#/faq';
  this.page.identifier = 'faq';
};
(function() {
var d = document, s = d.createElement('script');
s.src = '//yogaloft.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>