<div class="alert alert-info" ng-show="banner.notes && banner.notes.length && !banner.hidenotes">
  <span class="pull-right">
    <span class="glyphicon glyphicon-remove" ng-click="banner.hidenotes = !banner.hidenotes"></span>
  </span>
  <span class="pull-left glyphicon glyphicon-info-sign" style="margin-right: 10px;"></span>
  <span ng-repeat="item in banner.notes" marked="item"></span>
</div>
<div class="alert alert-warning" ng-show="banner.warnings && banner.warnings.length && !banner.hidewarnings">
  <span class="pull-right">
    <span class="glyphicon glyphicon-remove" ng-click="banner.hidewarnings = !banner.hidewarnings"></span>
  </span>
  <span class="pull-left glyphicon glyphicon-warning-sign" style="margin-right: 10px;"></span>
  <span ng-repeat="item in banner.warnings" marked="item"></span>
</div>
<div class="alert alert-danger" ng-show="banner.alerts && banner.alerts.length && !banner.hidealerts">
  <span class="pull-right">
    <span class="glyphicon glyphicon-remove" ng-click="banner.hidealerts = !banner.hidealerts"></span>
  </span>
  <span class="pull-left glyphicon glyphicon-alert" style="margin-right: 10px;"></span>
  <span ng-repeat="item in banner.alerts" marked="item"></span>
</div>

<div id="slides">
  <div>
    <img src="images/P1010859.JPG.jpg" alt="Yoga Blocks." />
  </div>
  <div>
    <img src="images/meditation.jpg" alt="Yoga students in a meditative moment." />
  </div>
  <div>
    <img src="images/side-stretch-warm-up.jpg.JPG" alt="Our new location." />
  </div>
</div>
<div>
  <h2>The Central Yoga Loft - Coming Soooon! </h2>
  <p>Get Involved</p>
</div>
<div>
  <div class="col-md-3">
    <div class="fb-page" data-href="https://www.facebook.com/YogaLoftPlymouth" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
  </div>
  <div class="clearfix"></div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $("#slides > div:gt(0)").hide();
    setInterval(function () {
      $('#slides > div:first').fadeOut(1000).next().fadeIn(1000).end().appendTo('#slides');
    }, 6000);
  });
</script>
