<div class="jumbotron">
  <h2>what's on</h2>
  <div class="col-md-4" ng-repeat="day in days">
    <h3>{{day}}</h3>
    <ul class="list-unstyled">
      <li ng-repeat="item in upcomingClasses | filter:{ day: day }">
        <a href="{{item.instructor.url}}">
          <img style="border-radius: 50%; width: 64px; height: 64px;" src="{{item.instructor.image}}" />
        </a>
        <br />
        {{item.start}} ~ {{item.end}}
        <br />
        <a href="{{item.class.url}}">{{item.class.name}}</a> with
        <a href="{{item.instructor.url}}">{{item.instructor.name}}</a>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>