<h1>How to find us</h1>
<h2>in the heart of Plymouth city centre</h2>
<div id="map_canvas" style="height: 400px;">
  <noscript>
    <img src="/Images/map.png" alt="Map to Yoga Loft, 11 Whimple Street, Plymouth, PL1 2DH"/>
  </noscript>
</div>
<div marked="markdown"></div>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;callback=init_map"></script>
<script type="text/javascript">
  function init_map() {
    var coordinates = new google.maps.LatLng(50.369754, -4.139047);
    var options = { center: coordinates, zoom: 15, mapTypeId: google.maps.MapTypeId.ROADMAP };
    var map = new google.maps.Map(document.getElementById("map_canvas"), options);
    var marker = new google.maps.Marker({ title: 'The Yoga Loft', position: coordinates, map: map, icon: 'images/marker.png', shadow: 'images/shadow.png' });
    var bubble = new google.maps.InfoWindow({ content: '<div style="width: 280px;"><p><img src="images/cafe-rouge.jpg" style="float: left; margin-right: 20px;" /><strong>The Yoga Loft</strong><br />11 Whimple Street<br />Plymouth PL1 2DH</p></div>' });
    google.maps.event.addListener(marker, 'click', function() { bubble.open(map, marker); });
  }
</script>